[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
nanoid = "*"
gunicorn = "*"
uvicorn = "*"
dj-database-url = "*"
whitenoise = {extras = ["brotli"], version = "*"}

[dev-packages]
djlint = "*"
pylint = "*"
pylint-django = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.13"
