[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
nanoid = "*"
django-debug-toolbar = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]
djlint = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.13"
