{% extends "base.html" %}
{% block content %}
  <h2>My Trips</h2>
  <ul>
    {% for trip in user_trip_list %}
      <li>
        <a href="{% url "trips:trip-detail" trip.slug %}">{{ trip.title }}</a>
        {% if trip.start_date or trip.end_date %}
          [{{ trip.start_date|date|default:"(start)" }} - {{ trip.end_date|date|default:"(end)" }}]
        {% endif %}
      </li>
    {% empty %}
      <li>No trips for you ;_;</li>
    {% endfor %}
  </ul>
  <h3>Create a new trip</h3>
  <form action="{% url "trips:create-trip" %}" method="post">
    {% csrf_token %}
    {{ create_trip_form }}
    <button type="submit">Create New Trip</button>
  </form>
  <h3>Create a new destination</h3>
  <form action="{% url "trips:create-dest" %}" method="post">
    {% csrf_token %}
    {{ create_dest_form }}
    <button type="submit">Create Destination</button>
  </form>
{% endblock content %}
