{% extends "base.html" %}
{% block content %}
  <h2>Trip - {{ trip.title }}</h2>
  <p>Owner: {{ trip.owner.username }}</p>
  <p>Start Date: {{ trip.start_date|date }}</p>
  <p>End Date: {{ trip.end_date|date }}</p>
  <p>
    Scheduled:
    {% if trip.scheduled %}
      Yes
    {% else %}
      No
    {% endif %}
  </p>
  <p>Notes: {{ trip.notes }}</p>
  <div>
    Destinations:
    <ul>
      {% for dest in trip.destination_set.all %}
        <li>
          <div>{{ dest.name }}</div>
          {% if dest.start_time %}<div>Starts at: {{ dest.start_time }}</div>{% endif %}
          {% if dest.end_time %}<div>Ends at: {{ dest.end_time }}</div>{% endif %}
        </li>
      {% endfor %}
    </ul>
    <h3>Create a new destination</h3>
    <form action="{% url "trips:create-dest-with-trip" trip.slug %}"
          method="post">
      {% csrf_token %}
      {{ create_dest_form }}
      <button type="submit">Create Destination</button>
    </form>
  </div>
{% endblock content %}
