{% extends "base.html" %}
{% block subtitle %}
  {{ trip.title }}
{% endblock subtitle %}
{% block content %}
  <h2>Trip - {{ trip.title }}</h2>
  <p>Owner: {{ trip.owner.username }}</p>
  <p>Start Date: {{ trip.start_date|date }}</p>
  <p>End Date: {{ trip.end_date|date }}</p>
  <p>
    Scheduled:
    {% if trip.scheduled %}
      Yes
    {% else %}
      No
    {% endif %}
  </p>
  <p>Notes: {{ trip.notes }}</p>
  <div>
    Destinations:
    {% if mapbox_destinations %}
      <div id="mapbox-map" style="width: 400px; height: 300px;"></div>
      <script>
        mapboxgl.accessToken = "{{ mapbox_api_key|safe }}";
        const map = new mapboxgl.Map({
          container: 'mapbox-map',
          style: 'mapbox://styles/mapbox/streets-v12',
        });
        const dests = {{ mapbox_destinations|safe }};
        console.log(dests);
        dests.forEach((dest) => {
          const popup = new mapboxgl.Popup().setText(dest.name);
          const marker = new mapboxgl.Marker()
            .setLngLat([dest.longitude, dest.latitude])
            .setPopup(popup)
            .addTo(map);
        });
        const longs = dests.map(d=>d.longitude)
        const lats = dests.map(d=>d.latitude)
        const bounds = [Math.min(...longs), Math.min(...lats), Math.max(...longs), Math.max(...lats)]
        map.fitBounds(bounds, {padding: 50, maxZoom: 15});
      </script>
    {% endif %}
    <ul>
      {% for dest in trip.destination_set.all %}
        <li>
          <div>{{ dest.name }}</div>
          {% if dest.start_time %}<div>Starts at: {{ dest.start_time }}</div>{% endif %}
          {% if dest.end_time %}<div>Ends at: {{ dest.end_time }}</div>{% endif %}
          <div>
            <a href="{% url "trips:edit-dest" trip.slug dest.pk %}">Edit this destination</a>
          </div>
          <div>
            <a href="{% url "trips:delete-dest" trip.slug dest.pk %}">Delete this destination</a>
          </div>
        </li>
      {% endfor %}
    </ul>
    <h3>Create a new destination</h3>
    <form action="{% url "trips:create-dest-with-trip" trip.slug %}"
          method="post">
      {% csrf_token %}
      {{ create_dest_form }}
      <button type="submit">Create Destination</button>
    </form>
  </div>
  <p>
    <a href="{% url "trips:edit-trip" trip.slug %}">Edit this trip</a>
  </p>
  <p>
    <a href="{% url "trips:delete-trip" trip.slug %}">Delete this trip</a>
  </p>
{% endblock content %}
